<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opedarkgroup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Opedarkgroup">
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.pedidosmesaocupada.view.PedidosMesaAbertaActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.comanda.view.VisualizarComandaActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.listapedidos.view.PedidosPorCategoriaActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.listapedidos.view.PedidosActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.mesasocupadas.view.ConsultaMesasAbertasActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.mesaslivres.view.MesasActivity"
            android:exported="true" />
        <activity
            android:name="com.opedarkgroup.features.comandaeletronica.home.view.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".features.login.view.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>